# Manual added .gitignore file for MCPSpy project
.worktrees
venv
.venv
__pycache__
build/**
pkg/ebpf/mcpspy_bpfel_*
.vscode
mcpspy
.idea/*

# Test temp files (created by e2e tests)
tests/tmp*.jsonl
tests/tmp*.log

# Created by https://www.toptal.com/developers/gitignore/api/vagrant
# Edit at https://www.toptal.com/developers/gitignore?templates=vagrant

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box

# End of https://www.toptal.com/developers/gitignore/api/vagrant
